{% extends 'base.html' %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}{% trans "Farah Visual Arts | Press" %}  {{ object.title }}{% endblock %}
{% block description %}{{ object.meta_description|safe }}{% endblock %}
{% block keywords %}{% trans "Press Entry" %}{% endblock %}
{% block body_class %}wrapper{% endblock %}

{% block content %}


<div class="featured-wrapper">
    <div class="extra2">
        <div class="small-spacer"></div>
        <div class="ebox blog">

            <div class="title{% if not object.is_active %} preview{% endif %}">
                <h2>{{ object.title }}</h2>
            </div>

            <div class="title">
                <span class="byline">{{ object.subtitle }} <a href="{{ object.external_url}}">source</a></span>
                <div class="date">{% if object.date %}{{ object.date}}{% endif %}</div>
                <div class="tag">{% for tag in object.tags.all %}<a href="{{ tag.get_absolute_url}}">{{ tag }}</a> {% endfor %}</div>
            </div>
            <div class="blog-content">{{ object.content|safe }}</div>
        </div>
        <a id="fb-share-link-js" data-target="{{ object.get_ga_label }}" href="#"><i class="fa fa-facebook-square"></i></a>
        <div class="small-spacer"></div>
        <div class="hexagon"><span class="icon {{ object.icon }}"></span> </div>
        <div class="triangle-grey"></div>
    </div>
</div>
{% endblock %}

{% block extrascripts %}
    <script src="{% static "js/share_icons.js" %}"></script>
{% endblock extrascripts %}
