{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Farah Visual Arts Videos | Media" %}{% endblock %}
{% block description %}{% trans "Media relating to Farah Visual Arts" %}{% endblock %}
{% block keywords %}{% trans "Video, Art, YouTube, Media, Tags" %}{% endblock %}
{% block body_class %}wrapper{% endblock %}

{% block content %}
<div class="featured-wrapper">
    <div class="extra2">
        <div class="small-spacer"></div>
        <div class="hexagon"><span class="icon fa-tags"></span> </div>

        {% if active_objects %}
            <div class="ebox blog">
            {% for object in active_objects %}
                <a href="{{ object.get_absolute_url }}"><h3>#{{ object.title }}</h3></a>
            {% endfor %}
            </div>

            {% if page_obj.has_next or page_obj.has_previous %}
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}



        {% else %}
            <div class="ebox">
                <div class="title">
                    <h2>Videos</h2>
                    <span class="byline">Warning, here be dragons</span>
                </div>
                <p>Media coming soon...</p>
            </div>
            <div class="spacer"></div>
        {% endif %}




        <div class="triangle-grey"></div>
    </div>
</div>

{% endblock %}

