{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Farah Visual Arts" %}{% endblock %}
{% block description %}{% trans "Personal Website | Ziyad Soobhan" %}{% endblock %}
{% block keywords %}{% trans "Art, Farah Bhoyroo, Farah Visual Arts, Pop Art" %}{% endblock %}
{% block body_class %}wrapper{% endblock %}


{% block content %}
<div class="featured-wrapper">
		<div class="extra2 ">
            <div class="small-spacer"></div>
            <div class="ebox">
                <div class="hexagon">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-youtube fa-stack-1x"></i>
                    </span>
                </div>
                <div class="title">
                    <h2>Farah Visual Arts</h2>
                    <span class="byline">Lorem, Ipsum, Dolor</span>
                </div>
                <p>
                Lorem Ipsum dolor si amet.  Lorem Ipsum dolor si amet.  Lorem Ipsum dolor si amet.  Lorem Ipsum dolor si amet.
                Lorem Ipsum dolor si amet.  Lorem Ipsum dolor si amet.  Lorem Ipsum dolor si amet.  Lorem Ipsum dolor si amet.
                Lorem Ipsum dolor si amet.  Lorem Ipsum dolor si amet.  Lorem Ipsum dolor si amet.  Lorem Ipsum dolor si amet.
                Lorem Ipsum dolor si amet.  Lorem Ipsum dolor si amet.  Lorem Ipsum dolor si amet.  Lorem Ipsum dolor si amet.
                <p>
            </div>

            <div class="spacer"></div>

            <div class="ebox">
                <div class="hexagon">
                      <i class="icon fa fa-paint-brush fa-spin"></i>
                </div>
                <div class="title">
                    <h2>Lorem Ipsum!</h2>
                    <span class="byline">lorem, ipsum, dolor si amet</span>
                </div>
                <p>
                Lorem Ipsum dolor si amet.  Lorem Ipsum dolor si amet.  Lorem Ipsum dolor si amet.  Lorem Ipsum dolor si amet.
                Lorem Ipsum dolor si amet.  Lorem Ipsum dolor si amet.  Lorem Ipsum dolor si amet.  Lorem Ipsum dolor si amet.
                Lorem Ipsum dolor si amet.  Lorem Ipsum dolor si amet.  Lorem Ipsum dolor si amet.  Lorem Ipsum dolor si amet.
                Lorem Ipsum dolor si amet.  Lorem Ipsum dolor si amet.  Lorem Ipsum dolor si amet.  Lorem Ipsum dolor si amet.
                </p>
            </div>
            <div class="spacer"></div>

            <div class="triangle-grey"></div>
        </div>
</div>

{% endblock content %}

