{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Farah Visual Arts" %}{% endblock %}
{% block description %}{% trans "Personal Website | Ziyad Soobhan" %}{% endblock %}
{% block keywords %}{% trans "Art, Farah Soobhan, Farah Visual Arts, Pop Art" %}{% endblock %}
{% block body_class %}wrapper{% endblock %}


{% block content %}
<div class="featured-wrapper">
		<div class="extra2 ">
            <div class="small-spacer"></div>
            <div class="ebox">
                <div class="hexagon">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-youtube fa-stack-1x"></i>
                    </span>
                </div>
                <div class="title">
                    <h2>Farah Visual Arts</h2>
                    <span class="byline">Lorem, Ipsum, Dolor</span>
                </div>
                <p>
                Farah Soobhan, founder of Farah Visual Arts is a teacher and contemporary
                mixed- media artist who uses the recognisable and versatile style of pop art to
                explore her own identity as a Muslim woman living in the West. Her work
                highlights deeper messages relating to political and humanitarian crisis taking
                place in the Middle East as well as globally.
                </p>
                <p>
                The bright and bold aesthetics of her paintings juxtaposes the serious concepts
                she wants to relay to her audience. Farah uses her art to express her thoughts
                and feelings on so many causes ranging from religion, terrorism, police brutality
                and the refugee crisis to misogyny, Islamophobia and mental health.
                </p>
                <p>
                She is on a personal journey to evolve as a creative by continuously developing
                her artistic style and application techniques further in order to always connect
                and engage fully through her works. She is always aiming to visually challenge
                the norms of traditional Islamic art as well as seeking new themes to explore
                such as her own British, Mauritian and South African heritage, culture and
                personal experiences.
                </p>
                <p>
                Her work was featured on the Evening Standard and Al Jazeera news in 2015 for
                being the chosen artist to front the anti terrorism campaign. She has also
                exhibited her work all over England including in MICA gallery in Knightsbridge,
                Moniker Art fair in the Old Truman Brewery, Queen of Hoxton in Shoreditch and
                The Crypt Gallery in Kings Cross. Farah’s painting was also projected onto the
                historic General Post Office building in Dublin, Ireland and at the Women of the
                World Festival in Chester.
                </p>
                <p>
                She has also filmed interviews for Islam channel, British Muslim TV, Inspire FM
                and the BBC. Her work has also been published in newspapers and magazines in
                Mauritius as well as numerous online publications like Hayati and Galdemzine
                among others. Farah is continuously helping others in their creative journeys
                and also started art tutorials on YouTube to make art and especially painting
                accessible to those starting out. She also hosts workshops regularly in schools
                and galleries for children as well as adults on Pop Art and Art History.
                Farah truly believes that creatives need to unite to help each other grow and
                develop so that they can stay inspired, motivated and supported.
                </p>
                <p>
                She is now a Co founder of DOT; Developing Our Traditions, a platform aiming to
                provide a space for creatives to network, exhibit their art and hold workshops,
                which will benefit each other as well as the wider community.
                Follow her creative journey on her Facebook, Instagram or YouTube channel
                @farahvisualarts
                </p>

            </div>


            <div class="triangle-grey"></div>
        </div>
</div>

{% endblock content %}

