{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Farah Visual Arts" %}{% endblock %}
{% block description %}{% trans "Personal Website | Ziyad Soobhan" %}{% endblock %}
{% block keywords %}{% trans "Art, Farah Soobhan, Farah Visual Arts, Pop Art" %}{% endblock %}
{% block body_class %}wrapper{% endblock %}


{% block content %}
<div class="featured-wrapper">
		<div class="extra2 ">
            <div class="small-spacer"></div>
            <div class="ebox">
                <div class="hexagon">
                    <span class="icon fa-align-left"></span>
                </div>
                <div class="title">
                    <h2>Farah Soobhan</h2>
                    <span class="byline">Biography</span>
                </div>
                <p>
                Farah Soobhan, founder of Farah Visual Arts is a teacher and contemporary
                mixed- media artist who uses the recognisable and versatile style of pop art to
                explore her own identity as a Muslim woman living in the West. Her work
                highlights deeper messages relating to political and humanitarian crisis taking
                place globally.
                </p>
                <p>
                The bright and bold aesthetics of her paintings juxtaposes the serious concepts
                she wants to relay to her audience. Farah uses her art to express her thoughts
                and feelings on so many causes ranging from religion, terrorism, police brutality
                and the refugee crisis to misogyny, Islamophobia and mental health.
                </p>
                <p>

                She is on a personal journey to evolve as a creative by continuously developing
                her artistic style and application techniques further in order to always connect
                and engage fully through her works. She is always aiming to visually challenge
                the norms of traditional Islamic art as well as seeking new themes to explore
                such as her own British, Mauritian and South African heritage, culture and
                personal experiences.
                </p>
                <p>

                She was a finalist of
                <a href="https://artisticjihad.wordpress.com/2012/01/10/q-a-with-farah-bhoyroo/" target="_blank" title="Artistic Jihad Art">Artistic Jihad Art</a> competition in 2011 and 2012 and her work was featured on the
                <a href="https://www.standard.co.uk/news/uk/young-muslims-share-their-art-online-in-direct-challenge-to-isis-a2924491.html" target="_blank" title="Evening Standard">Evening Standard</a>
                and <a href="https://www.aljazeera.com/indepth/features/2015/10/creation-destruction-internet-art-targets-isil-151022125128680.html" target="_blank" title="Al Jazeera">Al Jazeera</a>
                in 2015 for being the chosen artist to front an anti terrorism campaign.  She has
                since then exhibited her work all over England including in MICA gallery in
                Knightsbridge, Moniker Art fair at the Old Truman Brewery, Queen of Hoxton in
                Shoreditch and <a href="http://loveradicallove.wixsite.com/lust" target="_blank" title="The Crypt Gallery">The Crypt Gallery</a> in Kings Cross.
                </p>

                <p>
                Farah’s painting was also projected onto the historic General Post Office
                building in Dublin, Ireland and at the Women of the World Festival in Chester.
                Farah has also filmed interviews and segments for Islam channel, <a href="https://www.facebook.com/ummahsonic/videos/563689727088657/" target="_blank" title="Ummahsonic">Ummahsonic</a>, British Muslim TV, Inspire FM and the
                <a href="https://twitter.com/bbcasiannetwork/status/782902704188362752?lang=en" target="_blank" title="BBC">BBC</a>.
                Her work has also been published in newspapers and magazines in Mauritius as well as numerous online publications like
                <a href="https://hayatimagazine.com/makes-art-speak/" target="_blank" title="Hayati">Hayati</a>
                and <a href="http://www.gal-dem.com/radical-love-female-lust-exhibition/" target="_blank" title="Galdemzine">Galdemzine</a>
                among others. Farah is continuously helping others in their creative
                journeys and also published art tutorials on her
                <a href="https://www.youtube.com/user/farahVisualArts/videos?flow=grid&amp;view=0" target="_blank" title="Youtube channel">YouTube channel </a> to make art accessible to those starting out. She offers art tutoring,

                <a href="http://p21.gallery/events/past-events/gallery-talk-farah-soobhan/" target="_blank" title="gallery talks">gallery talks </a>
                and hosts workshops regularly in schools and galleries for children as well as
                adults on Pop Art and Art History.
                </p>

                <p>
                Farah truly believes that creatives need to unite to help each other grow and
                develop so that they can stay inspired, motivated and supported.
                Therefore she is now a co-founder of
                <a href="https://www.instagram.com/dotguild/" target="_blank" title="DOT">DOT</a>; Developing Our Traditions,
                a platform aiming to provide a space for creatives to network, exhibit their art
                and hold workshops, which will benefit each other as well as the wider community.
                </p>
                <p>
                Follow her creative journey via her <a href="https://www.facebook.com/FarahVisualArts" target="_blank" title="Facebook">Facebook page</a>
                ,

                <a href="https://www.instagram.com/farahvisualarts/?hl=en" target="_blank" title="instagram">Instagram account</a>

                and <a href="https://www.youtube.com/user/farahVisualArts/videos?flow=grid&amp;view=0" target="_blank" title="Youtube channel">YouTube channel</a>.
                </p>

            </div>


            <div class="triangle-grey"></div>
        </div>
</div>

{% endblock content %}

