{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Farah Visual Arts | Contact Farah" %}{% endblock %}
{% block description %}{% trans "Contact Form" %}{% endblock %}
{% block keywords %}{% trans "Contact" %}{% endblock %}
{% block body_class %}wrapper{% endblock %}

{% block content %}

<div class="featured-wrapper">
    <div class="extra2">
        <div class="small-spacer"></div>
		<div class="ebox">
            <div class="hexagon">
                    <span class="icon fa-envelope-o"></span>
            </div>
            <div class="title">
                 <h2>Contact</h2>
            <p>
            Send an email to <b>hello [@] farahvisualarts.com</b> or find me on social media as <b>@farahvisualarts</b>.
            </p>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="triangle-grey"></div>
    </div>
</div>


{% endblock %}

