{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Farah Visual Arts" %}{% endblock %}
{% block description %}{% trans "Artist | Farah Soobhan" %}{% endblock %}
{% block keywords %}{% trans "Art, Farah Soobhan, Farah Visual Arts, Pop Art" %}{% endblock %}
{% block body_class %}wrapper{% endblock %}


{% block content %}
<div class="featured-wrapper">
		<div class="extra2 ">
            <div class="small-spacer"></div>
            <div class="ebox">
                <div class="hexagon">
                      <i class="icon "></i>
                </div>
                <div class="title">
                    <h2>Farah Visual Arts</h2>
                    <span class="byline">Welcome to Farah Visual Arts founded by mixed media artist and designer Farah Soobhan.</span>
                </div>

                <h3>Concept and Ideas</h3>
                <p>
                Farah uses a blend of collage, typography and painting to create pop art pieces
                based on important topics like religion, political and humanitarian crises. She
                hopes her work will facilitate reflection and enable conversations to bridge gaps
                between communities.
                </p>

                <h3>Workshops, Tutoring and Prints</h3>
                <p>
                Please get in touch using the <a href="{% url 'contact' %}" title="contact form">contact form</a> for
                enquiries about <b>workshops</b>, bespoke one-to-one <b>art tutoring</b> or to request price lists for <b>merchandise</b>,
                <b>originals</b>, as well as <b>prints</b>. Farah is also always open to collaborating on new projects, one off commissions and
                related ventures.
                </p>
            </div>

            <div class="small-spacer"></div>

            <div class="triangle-grey"></div>
        </div>
</div>

{% endblock %}

