{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Farah Visual Arts" %}{% endblock %}
{% block description %}{% trans "Islamic Pop Art | Farah Soobhan" %}{% endblock %}
{% block keywords %}{% trans "Art, Farah Soobhan, Farah Visual Arts, Pop Art, Islamic Art" %}{% endblock %}
{% block body_class %}wrapper{% endblock %}


{% block content %}
<div class="featured-wrapper">
		<div class="extra2 ">
            <div class="small-spacer"></div>
            <div class="ebox">
                <div class="title">
                    <h2>Farah Visual Arts</h2>
                    <span class="byline">Exploring islam through the eyes of a Muslim woman living in the west using contemporary pop art.</span>
                </div>
                <div class="hexagon">
                      <i class="icon "></i>
                </div>
                <p>
                Welcome to Farah Visual Arts founded by Artist Farah Soobhan. Farah uses a
                blend of mixed media pop art conveying deeper concepts to raise awareness on
                numerous important political and humanitarian issues.
                <p>
            </div>

            <div class="small-spacer"></div>

            <div class="triangle-grey"></div>
        </div>
</div>

{% endblock %}

