<div class="flickrWrapper">

{% if thumbnail %}
<a href="{{ object.get_absolute_url }}">
  <img src="{{ object.flickr_thumbnail_url }}">
</a>

{% else %}

<div id="flickrembed_25"></div><script src='https://flickrembed.com/embed_v2.js.rand.php?container=flickrembed_25&source=flickr&layout=responsive&input={{object.flickr_album_url}}&sort=0&by=album&theme=default_notextpanel&scale=fit&speed=15000&limit=10&skin=default&autoplay=false'></script><script type="text/javascript">function showpics(){var a=$("#box").val();$.getJSON("http://api.flickr.com/services/feeds/photos_public.gne?tags="+a+"&tagmode=any&format=json&jsoncallback=?",function(a){$("#images").hide().html(a).fadeIn("fast"),$.each(a.items,function(a,e){$("<img/>").attr("src",e.media.m).appendTo("#images")})})}</script>

{% endif %}

</div>
