<div class="menu-wrapper">
		<div class="menu">
			<ul>
                <li><a href="{% url 'home' %}" accesskey="1" title="">Homepage</a></li>
                <li><a href="{% url 'biography' %}" accesskey="2" title="">Biography</a></li>
                <li><a href="{% url 'contact' %}" accesskey="3" title="">Contact</a></li>
                <li><a href="{% url 'media:youtube-list-view' %}" accesskey="4" title="">Videos</a></li>
                <li><a href="{% url 'media:flickr-list-view' %}" accesskey="5" title="">Gallery</a></li>
			</ul>
		</div>
</div>
