{% load static from staticfiles %}
<div class="social">
    <div class="social-wrapper">
        <ul>
            <li>
            <a href="https://facebook.com/farahvisualarts/" class="social-icon-js" target="_blank" data-target="facebook" title="Facebook"><i class="icon fa-facebook"></i></a>
            </li>

            <li>
            <a href="https://instagram.com/farahvisualarts/" class="social-icon-js" target="_blank" data-target="instagram" title="Instagram"><i class="icon fa-instagram"></i></a>
            </li>

            <li>
            <a href="https://youtube.com/farahVisualArts" class="social-icon-js" target="_blank" data-target="youtube" title="YouTube"><i class="icon fa-youtube"></i></a>
            </li>

            <li>
            <a href="https://twitter.com/farahvisualarts" class="social-icon-js" target="_blank" data-target="twitter" title="Twitter"><i class="icon fa-twitter"></i></a>
            </li>
        </ul>
    </div>
</div>
