{% load static from staticfiles %}
<div class="social">
    <div class="social-wrapper">
        <ul>
            <li>
            <a href="https://facebook.com/farahvisualarts/" target="_blank" class="social-icon" data-target="facebook" title="Facebook"><i class="icon fa-facebook"></i></a>
            </li>

            <li>
            <a href="http://google.co.uk" target="_blank" class="social-icon" data-target="instagram" title="Instagram"><i class="icon fa-instagram"></i></a>
            </li>
            <li>

            <li>
            <a href="http://youtube.com/farahVisualArts" target="_blank" class="social-icon" data-target="youtube" title="YouTube"><i class="icon fa-youtube"></i></a>
            </li>

            <li>
            <a href="https://twitter.com/farahvisualarts" target="_blank" class="social-icon" data-target="twitter" title="Twitter"><i class="icon fa-twitter"></i></a>
            </li>
        </ul>
    </div>
</div>
